.taskBar {
  display: flex;
  justify-content: center;
  margin-top: -1.75rem;
  gap: 0.5rem;
}
.taskBar input {
  background: var(--gray-400);
  width: 39.875rem;
  height: 3.375rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-700);
  font-size: 1rem;
  padding: 1.15rem;
}
.taskBar input:focus {
  outline: 1px solid var(--blue);
}
.taskBar button {
  background: var(--blue);
  margin-top: 1px;
  width: 5.625rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--gray-100);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskBar button[type="submit"]:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.taskBar button[type="submit"]:not(:disabled):hover {
  background: var(--blueDark);
  transition: 0.2s;
}
.plusCircleIcon {
  display: flex;
  flex: 0.4;
  color: var(--gray-100);
  justify-content: center;
}
